# Name: ViPErLEED Plugins

# These ImageJ plugins are part of the ViPErLEED package for LEED I(V) analysis.
#
# This file (plugins.config) determines the menu commands made available
# by this jar file and where they appear in the ImageJ menu.
#
# This ImageJ plugin is part of the ViPErLEED package for LEED I(V) analysis.
# Licensed under GNU General Public License v3.0 or later (GPL-3.0-or-later),
# https://www.gnu.org/licenses/gpl-3.0.html
# The authors may decide later to put part of the auxiliary code in this work into the public domain,
# to allow incorporation into ImageJ if desired (ImageJ is in the public domain).
# The documentation and help texts are licensed under the
# Creative Commons Attribution 4.0 (CC BY 4.0) license.
# When using and/or modifying this program for scientific work, please cite
# the paper describing it:
# M. Schmid, F. Kraushofer, A. M. Imre, T. Kisslinger, L. Hammer, U. Diebold, and M. Riva,
# ViPErLEED package II: Spot tracking, extraction and processing of I(V) curves,
# Phys. Rev. Research, 2024. 
#
# Author: Michael Schmid, with contributions from Michele Riva, all at IAP/TU Wien,
# Copyright (C) 2019-2024 by the authors
#

# The following lines are not updated regularly.
# These lines are kept here just in case future versions of ImageJ read it
# Author: Michael Schmid
# Version: 1.00
# Date: 2024-07-09
# Requires: ImageJ 1.54k
# The above information may be used by a future ImageJ Plugin Manager.

Plugins>ViPErLEED, "Open LEED Movie...", Open_LEED_Movie
Plugins>ViPErLEED, "LEED Spot Tracker...", LEED_Spot_Tracker
Plugins>ViPErLEED, "LEED I(V) Curve Editor...", LEED_Curve_Editor
Plugins>ViPErLEED, "Average I(V) Curves...", LEED_Average_Datasets
Plugins>ViPErLEED, "Stitch I(V) Curves...", LEED_Stitch_Datasets
Plugins>ViPErLEED, "Interpolate I(V) Curves...", LEED_IV_Curve_Interpolation
Plugins>ViPErLEED, "I(V) Curve Tools...", LEED_IV_Curve_Tools
Plugins>ViPErLEED, "I(V) Curve Quality Statistics...", LEED_Data_Quality_Statistics
Plugins>ViPErLEED, "R Factor Between Data Sets...", LEED_R_Factor_Between_Datasets
Plugins>ViPErLEED, "LEED Commands", LEED_Commands
